# envs
backend/.env
frontend/.env
.env.local
.env.*.local

# node
node_modules/
dist/
build/
.vscode/
.DS_Store

# Database
*.db
*.sqlite
*.sqlite3

# Frontend build
frontend/dist/

# Render
.render/
